*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #758798;
}


.bg-img{
 background: url("images/let-it-show-3.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}


.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* home page title */
.home-title{
  font-size: 100px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #07020e, 0px 0px 10px #2e2e2f, 0px 0px 10px #524f55,
    0px 0px 20px #ece9e9;
}

/* home page describe */
.home-describe{
color: #212131;
font-size: 28px;
font-weight: 400;
}

#movie-form{
margin-top: 2px;
display: flex;
align-items: center;
}

#search{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    padding-left: 15px;
}

/* display weather style */
.name-date{
font-size: 200%;
font-weight: 500;
}

.current-weather{
display: flex;
justify-content: space-around;
text-align: center;
/* background-color:rgb(188, 193, 198); */
margin-bottom: 0%;
font-size:120%;
}

#curr-pic{

width: 8%;
height: 8%;
}

#hideform {display:none;}


.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
max-width: fit-content;
  /* max-width: 1500px; */

  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
 height: auto;
width: auto;
}

/* movie input style */
#search{
width: 30%;
font-size: 30px;
height: 45px;
border: 1px solid black;
padding-left: 15px;
}

/* home page input style */
.search-label{
font-size: 22px;
}

#search-city{
font-size: 25px;
height: 40px;
font-weight: 50;
}


.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  height: 45px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
background-color: rgb(125, 38, 4);
}


button[disabled] {
  cursor: default;
  background: #c0c7cf;
}


/* movie container style */
.container{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
columns: 4;
-webkit-columns: 4;
-moz-columns: 4;
margin: 20px;
}

#movie-item{
width: 280px;
height: 320px;
margin: 20px 15px;
background:  hsl(360, 91%, 36%);
}

img{
width: 100%;
height: 85%;
object-fit: cover;
}

h2{
font-size: 20px;
font-weight: bold;
text-align: center;
color: #fff;
}

  /* A Media Query max-width: 1200px */
@media screen and (max-width: 1200px) {
.container{
justify-content: center;
columns: 3;
-webkit-columns:3;
-moz-columns: 3;
}
#movie-item{
width: 70%;
height:auto;
}

}

  /* A Media Query max-width: 640px */
 @media screen and (max-width: 640px) {

.current-weather{
display: block;
justify-content: space-around;
text-align: center;
}

.container{
/* width: 100%; */
justify-content: center;
columns: 1;
-webkit-columns:1;
-moz-columns: 1;
}
#movie-item{
width: 100%;
height: auto;
}

}